
$black: #000000;
$gray: #f8f8f8;


$shadow: 0 0 15px rgba($black, .3);
$white: #ffffff;
$pink: #EB016E;
$border: 140px;


// Bootstrap Modal
$modal-backdrop-bg: #334055;
$modal-backdrop-opacity: 0.9;
