.logo {
	
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: none;
}

.logo-prefix {
	color: $pink;
}

.logo-suffix{
	color: $white;
}

.logotype{
	margin-top: 23px;
	float: left;
}