.modal-content {
    width: 100%;
    padding: 40px;
    position: relative;
}

.modal__close {
    width: 1rem;
    height: 1rem;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: -2rem;
    right: -2rem;
    z-index: 1;

    transition: transform .3s linear;

    &:focus {
        outline: 0;
    }

    &:hover {
        transform: rotate(180deg);
    }
}

.modal__close-icon {
    display: block;
    width: 100%;
    height: 100%;

    fill: $pink;
}

.modal__title {
    margin-bottom: 20px;

    font-size: 1.6rem;
    color: $pink;
    font-weight: 500;
}

.modal__text {
    margin-bottom: 20px;

    font-size: 1rem;
    line-height: 1.2;
    color: $black;
    font-weight: 500;
    opacity: 0.7;
}
.form__group{

}

.input{
    margin-bottom: 0.3rem;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: solid 2px rgba(0,0,0,0.2);
    outline: 0;

}

.contacts--modal{
    font-size: 14px;
    margin-top: 40px;

}

.contacts__item{
  
}