<header class="header">
    
        <div class="header__inner">
        
            
                <div class="container__top">
                    <div class="logotype">
                        <a class="logo" href="index.html">
                            outSourse<span class="logo-prefix">/wi-fi</span>
                        </a>
                    </div>

                
                    <nav class="nav__top ">
                        <a class="nav__toplink " href="index.html">О компании</a>
                        <a class="nav__toplink" href="service.html">Проекты</a>
                        <a class="nav__toplink" href="#">Новости</a>
                        <a class="nav__toplink " href="#">Контакты</a>
                     </nav>                 
                </div>   

               <div class="container__bottom">
                    <nav class="nav__bottom">
                        <a class="nav__botlink " href="service.html">Продукты</a>
                        <a class="nav__botlink " href="service.html">Услуги</a>
                        <a class="nav__botlink " href="portfolio.html">Отраслевые решения</a>
                        <a class="nav__botlink  " href="portfolio.html">Программное обеспечение</a>
                    </nav>
                

            
                <div class="contacts">
                    <a class="contacts__link" href="#">+7-985-487-80-53</a>
                </div>
            
            
                
                   <button class="btn btn__position" data-toggle="modal" data-target="#request-modal">Оставить заявку</button>
                
            </div>
            
            
        </div><!-- /.header__inner -->
    
</header>
