<div class="content">
	<div class="support">
		<div class="support__position">
			<div class="left">
				<div class="support__title">
					Ответим на ваши вопросы
				</div>

				<div class="support__text">
					Каждый день мы меняем мир к лучшему, присоединяйтесь
				</div>
			</div>
	
			<div class="right">
				<div class="top">
				<input class="contact" type="text" placeholder="Имя" required>
				<input class="contact"  type="tel" placeholder="Телефон" required>
				</div>
				<input class="massage" type="text" placeholder="Сообщение" required>
				<div class="footer__right">
				<div class="text__right">
				Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</div>
				
					<button class="btn btn--pink" type="submit">Оставить заявку</button>

				</div>
			</div>			


		</div>
	</div>
</div>

